BASE_URL=http://localhost
PORT=3000
NODE_ENV=

MONGO_URI="mongodb+srv://username:password@cluster0.nnsdnys.mongodb.net/identity-provider"

MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=vanessa.cormier@ethereal.email
MAIL_PASS=cWGEQeaUhpAPzrd8WM

ACCESS_TOKEN_SECRET=sdfsdhfjksdlfk@%^75^7567234234kjlhsdfSADFAsdfsdfypakdsfSDGsadghsdf
ACCESS_TOKEN_EXPIRES_IN="1h"

REFRESH_TOKEN_SECRET=sdfsdhfjksdlfk@%^75^75672342dsfsdHJKTHJ34ksdfsdjlhsdfSADFAsdfsdfypakdsfSDGsadghsdf
REFRESH_TOKEN_EXPIRES_IN="10h"


VERIFICATION_TOKEN_SECRET=shdgjfsgldSsdfdhjkh2@%&%^@sdfSDFyhukYUKLhjDfsdhfl2%^7567SDF!@234234134
VERIFICATION_TOKEN_EXPIRES_IN="24h"

ACTIVATION_TOKEN_SECRET=skdfhsdSDfsdhf@@@!@SDFSDGsd8907y209842340SDFsdfdsfkya
ACTIVATION_TOKEN_EXPIRES_IN='1h'

RESET_TOKEN_SECRET=sdhflsSDfsdgflsdjf62874629342983sdfsohSDfswudflsh
RESET_TOKEN_EXPIRES_IN='6h'


# SMS messages
TWILIO_ACCOUNT_ID='xxxxxxxxxxxxxxxxxxxxx'
TWILIO_AUTH_TOKEN='xxxxxxxxxxxxxxxxxxxx'
TWILIO_MESSAGING_SERVICE_ID='xxxxxxxxxxxxxxxxxxxx'

#TOTP Encryption Key
TOTP_ENCRYPTION_KEY="This is my key, sdfh skdfjdskfjsldf"

# Backup Encryption Key
BACKUP_ENCRYPTION_KEY="shdf@34$237408923hfsjdhflsDHDFGwerfsdhf"